#Solo Gopro config file
[algorithm]
eccentricity = 0.7
min_radius = 9
area_ratio = 0.85
min_ring_ratio =  0.70
max_ring_ratio = 0.90


[logging]
location = /log/
print_level = debug, general, algorithm
log_level = aircraft , algorithm, general
display_level = ,
record_level = ,
record_type = image

[camera]
source = gopro
background_capture = False
has_gimbal = True
undistort = False
horizontal-fov = 97.3044
vertical-fov = 58.2197
#horizontal-fov = 83.468 undistorted FOV
#vertical-fov = 55.195 undistorted FOV
matrix = 764.36600634 0.0 663.58169499
	0.0 764.86442335 363.45071788
	0.0 0.0 1.0

distortion = -0.29435659 0.14030301 0.0 0.0 0.0


[simulator]
use_simulator = False
width = 1280
height = 720
frame_rate = 30
target_size = 2
target_location = ~/precland/Targets/mat_v1.jpg

[general]
always_run = False
target_internal_diameter = 0.60325
resize_alt_thres = 7.0

[land_control]
operation_mode = velocity
init_dec_speed = 1.2
final_dec_speed = 0.5
init_dec_alt = 20
goto_alt_step = 1.5
goto_distance = 1.0
final_dec_alt = 6
abort_alt = 5
landed_alt = 0.25
horz_scalar = 1.2
vert_scalar = 0
horz_offset = 0
vert_offset = -5.0
update_rate = 12
