#Solo Gopro config file
[algorithm]
eccentricity = 0.7
min_radius = 9
area_ratio = 0.85
min_ring_ratio =  0.70
max_ring_ratio = 0.90


[logging]
location = /log/
print_level = debug, general, algorithm
log_level = aircraft , algorithm, general
display_level = ,
record_level = ,
record_type = image

[camera]
source = gopro
background_capture = False
has_gimbal = True
horizontal-fov = 94.4
vertical-fov = 55.0
matrix = 614.01269552 0.0 315.00073982
	0.0 614.43556296 237.14926858
	0.0 0.0 1.0

distortion = 0.12269303 -0.26618881 0.00129035 0.00081791 0.17005303


[simulator]
use_simulator = False
width = 1280
height = 720
frame_rate = 30
target_size = 2
target_location = ~/precland/Targets/mat_v1.jpg

[general]
always_run = False

[land_control]
operation_mode = velocity
init_dec_speed = 1.2
final_dec_speed = 0.35
init_dec_alt = 20
goto_alt_step = 0.75
goto_distance = 0.5
final_dec_alt = 3.5
abort_alt = 5
landed_alt = 0.25
horz_scalar = 1.2
vert_scalar = 0
horz_offset = 0
vert_offset = -5.0
update_rate = 12
